body{
    background-color: aqua;
}
button{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: aquamarine;
}

#winlink{
    text-decoration: none;
    color: red;
}

#play-again{
   background-color: rgb(131, 241, 255);

}

#ng{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0px;
}

select{
    display: flex;
    justify-content: center;
    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}